{% extends 'patient/base_home.html' %}
{% load static %}}
{% block content %}

<div>
    <div class="container" style="margin-top:-150px"><br><br>
        <center>
            <h1 style="color:white;"> Patient lab test report</h1></center>
        <br><br>


        <table class="table">
            <thead>


            <tr style="font-family:verdana; background-color:white;text-align: center;">
              <center>  <th>Name</th></center>

             <center>   <th>Email</th></center>


            </tr>
            </thead>
            <tbody>
            {% for i in basic %}
            <tr style="background-color:#00204a;color:white;text-align: center;">





               <center> <td>{{i.username}}</td></center>


                   <center>  <td><a href="/sendmail/{{i.id}}/"><button class="btn btn-info">SEND mail</button></a></td></center>


            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>


{% endblock %}