{% extends 'doctor/base_home.html'%}
{% load static %}
{% block content %}

<style>
<!--    table{-->
<!--        overflow-x: scroll-->
<!--    }-->


.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
</style>
<script>
{% for m in messages %}
      alert('{{ m }}');
{% endfor %}
</script>
<!--style=" background-image: url({% static 'login/images/tab4.jpg'%}); height:800px; background-size:cover;"-->
<div  >
    <h1 class ="center">Patient basic Details</h1>


        <table class="table">
            <thead>


            <tr style="font-family:verdana; background-color:white;text-align: center;">



          <th scope="col" style="font-family:verdana; background-color:white;">FirstName</th>
          <th scope="col" style="font-family:verdana; background-color:white;" >LastName</th>
          <th scope="col" style="font-family:verdana; background-color:white;">email</th>

          <th scope="col" style="font-family:verdana;background-color:white;">PhoneNo</th>
          <th scope="col" style="font-family:verdana;background-color:white;">Date of birth</th>
          <th scope="col" style="font-family:verdana;background-color:white;">Address</th>
          <th scope="col" style="font-family:verdana;background-color:white;">Gender</th>
          <th scope="col" style="font-family:verdana;background-color:white;">Age</th>
          <th scope="col" style="font-family:verdana;background-color:white;">Marital status</th>
          <th scope="col" style="font-family:verdana;background-color:white;">subject</th>
                <th scope="col" style="font-family:verdana;background-color:white;">Send</th>

        </tr>
      </thead>
     <tbody>
                 {% for i in basic_data %}

         <tr style="background-color:#00204a;color:white;">
                <td>{{i.firstname}}</td>
                <td>{{i.lastname}}</td>
                <td>{{i.email}}</td>

                <td>{{i.phone_no}}</td>
                <td>{{i.Date_of_birth}}</td>
                <td>{{i.Address}}</td>
                <td>{{i.Gender}}</td>
                <td>{{i.Age}}</td>
                <td>{{i.Marital_status}}</td>
                <td>{{i.subject}}</td>
<!--     <button class="button-17" role="button">Button 17</button>        -->
           <td><a href ="/send_lab_basic_details/{{i.id}}/"><input type ="button" class="button-62" value="Send" /></a></td>
          {% endfor %}

          </tr>
      </tbody>
</table>
        <h2 class ="center" style="margin-top: 100px;">Patient Medical Details</h2>

      <table class="table">
            <thead>


            <tr style="font-family:verdana; background-color:white;text-align: center;">

          <th scope="col" style="font-family:verdana; background-color:white;">Patient Name</th>
            <th scope="col" style="font-family:verdana;background-color:white;">Gender</th>
          <th scope="col" style="font-family:verdana;background-color:white;"> Age</th>
          <th scope="col" style="font-family:verdana;background-color:white;">Marital status</th>
          <th scope="col" style="font-family:verdana;background-color:white;">Height</th>
            <th scope="col" style="font-family:verdana;background-color:white;">weight</th>
               <th scope="col" style="font-family:verdana;background-color:white;">Blood Type</th>
               <th scope="col" style="font-family:verdana;background-color:white;">Blood Count</th>
               <th scope="col" style="font-family:verdana;background-color:white;">Symptoms</th>
                 <th scope="col" style="font-family:verdana;background-color:white;">Sent</th>

        </tr>
      </thead>
     <tbody>
                 {% for i in medical_data %}

   <tr style="background-color:#00204a;color:white;">

                <td>{{i.name}}</td>
               <td>{{i.Gender}}</td>
                <td>{{i.age}}</td>
                <td>{{i.Martial_status}}</td>
                <td>{{i.height}}</td>
                <td>{{i.weight}}</td>
                <td>{{i.blood_type}}</td>
                <td>{{i.blood_count}}</td>
                 <td>{{i.symptoms}}</td>
           <td><a href ="/send_lab_medical_details/{{i.id}}/"><input type ="button" class="button-62" value="Send" /></a></td>
          {% endfor %}

          </tr>
      </tbody>
</table>
</div>
{% endblock %}






